<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Styles/site.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />

    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>

    <script src="~/Scripts/libs/jquery/jquery-3.2.1.js"></script>

    @RenderSection("HeadStyles", false)
    @RenderSection("HeadScripts", false)

    <title>@ViewBag.Title</title>
</head>
<body class="w3-theme-l5">
    @{
        Html.RenderPartial("NavBar");
    }
    <div>
        @RenderBody()
    </div>

    @RenderSection("Footer", false);
    @RenderSection("FootScripts", false)
</body>
</html>
