@using SocialConnector.Models.Enums
@model SocialConnector.Models.UserProfile.ProfileAccordionViewModel
<div class="w3-margin-side-block w3-card-2 w3-round">
    <div class="w3-white">
        @if (Model.Groups != null && Model.Groups.Any())
        {
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
            <div id="Demo1" class="w3-hide w3-container">
                @foreach (var group in Model.Groups)
                {
                    <p>@group.Title</p>
                }
            </div>
        }
        @if (Model.Events != null && Model.Events.Any())
        {
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
            <div id="Demo2" class="w3-hide w3-container">
                @foreach (var modelEvent in Model.Events)
                {
                    <p>@modelEvent.Title</p>
                }
            </div>
        }
        @if (Model.Photos != null && Model.Photos.Any())
        {
            <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
            <div id="Demo3" class="w3-hide w3-container">
                <div class="w3-row-padding">
                    <br>
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="w3-half">
                            <img src="@photo.Path" style="width: 100%" class="w3-margin-bottom">
                        </div>
                    }
                    @*<div class="w3-half">
                            <img src="https://www.w3schools.com/w3images/nature.jpg" style="width: 100%" class="w3-margin-bottom">
                        </div>
                        <div class="w3-half">
                            <img src="https://www.w3schools.com/w3images/mountains.jpg" style="width: 100%" class="w3-margin-bottom">
                        </div>
                        <div class="w3-half">
                            <img src="https://www.w3schools.com/w3images/forest.jpg" style="width: 100%" class="w3-margin-bottom">
                        </div>
                        <div class="w3-half">
                            <img src="https://www.w3schools.com/w3images/nature.jpg" style="width: 100%" class="w3-margin-bottom">
                        </div>
                        <div class="w3-half">
                            <img src="https://www.w3schools.com/w3images/fjords.jpg" style="width: 100%" class="w3-margin-bottom">
                        </div>*@
                </div>
            </div>
        }

        @if (Model.Friends != null && Model.Friends.Any())
        {
            <button onclick="myFunction('FriendsPanel')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-user fa-fw w3-margin-right"></i> My Friends</button>
            <div id="FriendsPanel" class="w3-hide w3-container">
                <div>
                    <br>
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="w3-third text-center w3-margin-bottom">
                            @{
                                var avatarUrl = string.IsNullOrEmpty(friend.Avatar)
                                    ? (friend.Gender == Genders.Male ? "https://www.w3schools.com/w3images/avatar3.png" : "https://www.w3schools.com/w3images/avatar6.png")
                                    : friend.Avatar;
                            }
                            <a asp-controller="Home" asp-action="Profile" asp-route-id="@friend.Id">
                                <img src="@avatarUrl" style="width: 50px; height: 50px;" class="w3-margin-bottom w3-circle">
                                <div style="margin-top: -5px;">
                                    <span style="font-size:8pt;">@friend.Name</span>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>