@using SocialConnector.Models.Enums
@using SocialConnector.Models.UserProfile
@model ProfileMainViewModel

<div class="w3-margin-side-block w3-card-2 w3-round w3-white">
    <div class="w3-container">
        @{
            var displayName = Model.IsFullNameEmpty() ? Model.UserName : Model.FirstName + " " + Model.LastName;
        }
        <h4 class="w3-center">@displayName</h4>
        <p class="w3-center">
            @{
                var avatarUrl = string.IsNullOrEmpty(Model.Avatar) ?
                    (Model.Gender == Genders.Male ? "https://www.w3schools.com/w3images/avatar3.png" : "https://www.w3schools.com/w3images/avatar6.png")
                    : Model.Avatar;
            }
            <img src="@avatarUrl" class="w3-circle" style="height: 106px; width: 106px" alt="Avatar" data-toggle="modal" data-target="#avatar-upload-modal">
        </p>

        <hr>
        @if (!string.IsNullOrEmpty(Model.WorkPlace))
        {
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>@Model.WorkPlace</p>
        }
        @if (!string.IsNullOrEmpty(Model.Hometown))
        {
            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>@Model.Hometown</p>
        }
        @if (Model.DateOfBirth.HasValue)
        {
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>@Model.DateOfBirth.Value.ToString("D")</p>
        }
    </div>
</div>
@{Html.RenderPartial("/Profile/UploadPhotoModal")}